* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdfcf0;
}

a {
    text-decoration: none;
}

.row .ngonNgu ul {
    list-style: none;
    display: flex;
}

.row .ngonNgu ul li {
    margin-left: 5px;

}

.vn {
    border: 1px solid;
    width: 30px;

    background-color: red;

}

.row .ngonNgu li a {
    color: white;
}

.en {
    border: 1px solid;
    width: 30px;
    background-color: grey;

}

.session-header {

    padding: 0px 20px;
    margin-top: 10px;
    align-items: center;
    margin-right: 80px;
}

.session-header a {
    color: black;
}

.session-header div {
    align-items: center;
}

/* -------------header------------- */

header {
    position: absolute;
}

.page-header {
    font-family: Verdana, Arial, sans-serif;
    position: relative;
}

@media only screen and (min-width: 400px) {
    .page-header {
        width: 100%;
        margin: 0 auto;
        background: url("../image/bg-top.png") repeat-x scroll left bottom transparent;
        background-size: 10px 135px;
        height: 135px;
    }
}

.cgvlogo img {
    position: relative;
    left: 140px;
    top: 40px;
}

.header-search-left .kenhcine img {
    position: relative;
    top: 55px;
    right: 160px;
}

.header-search-right img {
    position: relative;
    top: 10px;
    right: 145px;
}

#header-nav ol {
    display: flex;
    list-style-type: none;
}

ol li a {
    justify-content: space-evenly;
    color: black;
    cursor: pointer;
}

#header-nav ol ul li {
    list-style: none;
}

.skip-content {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    font-weight: bold;
    font-family: Verdana, Arial, sans-serif;

}

@media only screen and (min-width: 771px) {
    #header-nav {
        display: block;
        left: 140px;
        position: relative;
        top: 60px;
    }
}

.nav-primary {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.level1 {
    /* thằng con */
    position: absolute;
    display: none;
    border: 1px solid #dadada;
    padding: 10px;
    background-color: #150c0cd7;
    z-index: 100;
}

.level1 a {
    color: rgb(255, 255, 255);
}

.level0:hover .level1 {
    /* thằng cha */
    display: block;
}


.level1 li+li:hover {
    /* css bên trong thẻ li */
    background-color: red;
}

.level1 li:first-child:hover {
    background-color: red;
    color: white;
}

@media only screen and (min-width: 771px) {
    .nav-primary {
        display: block;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 771px) {
    ol {
        list-style: none;
        float: left;
    }
}

/* -----------phim đang chiếu---------- */


.list-film {
    margin: 0 150px;
}

.home-phim {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 150px;
    margin-bottom: 30px;
    background-color: rgba(128, 128, 128, 0.1);
}

.dang-chieu-sap-chieu {
    display: flex;
    position: relative;
}

.dang-chieu-sap-chieu h3 {
    position: absolute;
    right: 0;
    top: 25px
}

.list-film .dang-chieu-sap-chieu h2 a {
    color: black;
}

.list-film .dang-chieu-sap-chieu h3 a {
    color: grey;
}

.list-film .list-film-dang-chieu .ten-phim li {
    list-style: none;
}

.list-film .list-film-dang-chieu {
    position: relative;
    background-color: rgb(128, 128, 128, 0.1);
    width: 240px;
    height: 550px;
}

.list-film .list-film-dang-chieu .film img {
    width: 240px;
    height: 340px;
}

.list-film .list-film-dang-chieu .lien-he {
    cursor: pointer;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
    color: #dadada;
    font-weight: bold;
}

.list-film .list-film-dang-chieu .lien-he span:nth-child(1) {
    padding: 0px 20px 0px 3px;
    border-radius: 5px;
    background-color: rgb(24 119 242);
    left: 5px;
    position: absolute;
    bottom: 5px;
}

.list-film .list-film-dang-chieu .lien-he span:nth-child(2) {
    right: 5px;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    background-color: #e71a0f;
    position: absolute;
    bottom: 5px;
}

.film-hay-dang-chieu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

/* -------------- footer------------- */

.content-cgv-policy {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    margin-bottom: 20px;
}

.content-cgv-policy div h3 {
    font-size: 15px;
    font-weight: bold;
}


.content-cgv-policy div li {
    font-size: 13px;
    list-style: none;


}

.content-cgv-policy div p {
    font-size: 13px;
}

.bottom-footer {
    background-image: url("../image/bg-bottom-footer.jpg");
    height: 200px;

}


.content-cgv-policy .cgv-follow-us .cgvFllow {
    display: flex;
    gap: 10px;
}

.content-cgv-policy a {
    color: black;
}

/* ---------------nút mua vé---------------- */


.openBtn {
    background: #f1f1f1;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.openBtn:hover {
    background: #bbb;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    background-color: #fdfcf0;
    height: 80%;
    position: relative;
    top: 10%;
    width: 80%;
    /* text-align: center; */
    margin-top: 30px;
    margin: auto;

}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}


.overlay ul li {
    border: 3px solid white;
}

.overlay ul li:hover {
    border: 3px solid black;
}

.overlay ul li.active {
    background-color: rgb(95, 205, 59);
}

.overlay .khuVuc.active {
    background-color: rgb(95, 205, 59);
}

.overlay .gioXem.active {
    background-color: rgb(95, 205, 59);
}

.overlay .canTho-cgv.active {
    background-color: rgb(95, 205, 59);
}

.overlay .chon-ngay ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    color: black;
    background-color: #fdfcf0;
}

.chon-ngay li {
    width: 10%;
    box-sizing: border-box;
    list-style: none;
    text-align: center;
}

.khu-vuc h5 {
    position: absolute;
    left: 40px;
}

.khu-vuc .chon-khu-vuc {
    float: left;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
}

.khu-vuc .haNoi {
    position: absolute;
    top: 160px;
    float: left;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    display: none;
}

.khu-vuc .haNoi .haNoi-cgv {
    margin-left: 20px;
    cursor: pointer;
}

.khu-vuc .haNoi .haNoi-cgv:hover {
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #00AA00;
}

.khu-vuc .hcm {
    position: absolute;
    top: 160px;
    float: left;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    display: none;
}

.khu-vuc .hcm .hcm-cgv {
    margin-left: 20px;
    cursor: pointer;
    
}

.khu-vuc .hcm .hcm-cgv:hover {
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #00AA00;
}

.khu-vuc .canTho {
    position: absolute;
    top: 160px;
    float: left;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    display: none;
}

.khu-vuc .canTho .canTho-cgv {
    margin-left: 20px;
    cursor: pointer;
    
}

.khu-vuc .canTho .canTho-cgv:hover {
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: #00AA00;
}

.khu-vuc .chon-khu-vuc .khuVuc {
    margin: 5px;
    cursor: pointer;
}

.khu-vuc .chon-khu-vuc .khuVuc:hover {
    background-color: rgb(95, 205, 59);
    border-radius: 5px;
    padding: 0px 5px;
    color: white;
    cursor: pointer;
}

.chon-gio {
    float: left;
    position: absolute;
    top: 300px;
    margin-left: 40px;
}

.chon-gio .gio-xem-phim {
    display: flex;
}

.overlay-content .chon-gio .gio-xem-phim .gioXem {
    margin: 5px;
    cursor: pointer;
}


.chon-gio .gio-xem-phim .gioXem:hover {
    background-color: rgb(95, 205, 59);
    border-radius: 5px;
    padding: 0px 5px;
    color: white;
    cursor: pointer;
}

.dat-ve {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 10px 30px;
    border: none;
    background-color: red;
    border-radius: 5px;
}

.dat-ve a {
    color: white;
}

.dat-ve:hover {
    background-color: #00AA00;
}

.dangXuat{
    cursor: pointer;
}